@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body{
    background-color: #fef2f2;
    font-family: "Josefin Sans", sans-serif;
}
h1{
    text-align: center;
}

.container-center {
    max-width: 600px;
    margin: auto;
    text-align: center;
}



label {
    display: block;
    font-size: large;
    font-weight: 1000;
  }
  
input {
    font-size: 16px;
    padding: 0.6rem 1rem;
    margin: 2rem;
    border: 2px solid #fca5a5;
    border-radius: 1rem;
    width: 100%;
    max-width: 200px;
  }

#show-btn {
    background: #f87171;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: large;
    cursor: pointer;
    margin: auto;
    display: block;
  }

  button{
    font-family: 'Josefin Sans', sans-serif;
  }